
.error-message {

  color: red;
}

.styleName {
  font-size: 50px;
  margin-top: 20px;
  margin-left: 20px;
}

.styleAll {
  margin-left: 20px;
  
}
#nome {
  margin:0 auto;
  margin-left: 20px;
}

.bottonCadastro {
  margin-top: 20px;
  margin-left: 20px;
  background-color: #87CEEB;
}

.top {
  margin-top: 20px;
}

.margin {
  margin-left: 20px;
}

.mytext {
  width: 300px;
}

.txtbox {
  margin-left: 20px;
  height:100px;
  width:350px;
}